@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  color: rgba(16, 24, 40, 1);
  outline:none;
  /* css debugger */
  border:2px solid red;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 3em;

}

.links {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 80%;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  margin-top: 24px;
}

.links:hover {
  background: #D0D5DD;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.links:focus {
  background: #EAECF0;
  border: 1px solid #98A2B3;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
  border-radius: 8px;
}
.email-form-message:focus, .input-field:focus{
  background: #FFFFFF;
  border: 1px solid #84CAFF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
  border-radius: 8px;
}


.contact-container {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: initial;

}

.contact-title {
  width: 448px;
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #101828;

}

.contact-intro {
  width: 720px;
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
  padding-top: 20px;
  padding-bottom: 74px;
}

.contact-form {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin: 6px 0px;
}
.contact-fom-error{
  align-items: flex-start;
padding: 12px 14px;
gap: 8px;
background: #FFFFFF;
border: 1px solid #F89687;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

}
.contact-fom-error:focus{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #F89687;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC;
  border-radius: 8px;

}
.error-message{
  width: 320px;
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #F83F23;
padding-top:5px;

}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 100%;
  height: 44px;
  color: gray;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.form-name-field {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1em;
}

.col-3 {
  width: 100%;
  margin: 1em 0em;
}

textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
  width: 100%;
  height: 132px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

.radio_button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  margin-top: 24px;
  display:flex;

}

.form-footer-text>input {
  width: 100%;
  padding: 12px 20px;
  gap: 8px;
  width: 100%;
  height: 48px;
  background: #1570EF;
  border: 1px solid #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 32px 0px;
}
.form-footer-text>input:hover{
cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.profile_name>p {
  color: rgba(16, 24, 40, 1);
  font-family: "Inter";
}

.Profile_img {

  content: url("./assets/profile__img.png")
}

.Profile_img:hover {
  
  content: url("./assets/profile_img_hover.png")
}

.share-content {
  content:url("./assets/desktop-share.png");
  position: absolute;
  width: 40px;
  height: 40px;
  right: 208px;
  top: 40px;
  background: #FFFFFF;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.share-content:hover {
  cursor: pointer;
  content:url("./assets/Type=Share, State=Hover.png");
  width: max-content;
  height: max-content;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0% 3%;
}

.social-media-container {
  margin: 24px;

}

.social-media-container img {
  padding: 0px 24px;
}

.footer-container {
  margin: 3% 3% 0% 3%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 3%;
  border-top: 1px solid gray;
  padding-top: 2.5em;


}

.slack_name>p {
  visibility: hidden;
  display: none;
}

@media screen and (max-width:450px),
(max-width:750px) {
  .links {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 343px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin-top: 24px;
  }

  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    place-content: center;
    place-items: center;

  }

  .social-media-container {
    margin: 24px;

  }

  .social-media-container img {
    padding: 0px 24px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: flex-start;
    align-items: self-start;
    /* padding-left: 3.5em; */

  }

  .footer-container img {
    padding: 52px 0px;
  }

  .share-content,
  .share-content:hover {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 100px;
    top: 40px;
  }
/* contact-us page */
.contact-container{
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: self-start;
  margin:0px 2em;

}

.form-name-field{
  display:flex;
  flex-direction: column;
}
.contact-intro{
  width: 343px;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width:100%;
  height: 44px;
  color: gray;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
textarea{
  width: 100%;
  height: 132px;
  border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}
.radio_button>span {
  width: 100%;
height: 48px;
  word-break: keep-all;
  font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-right:5px;

}
.form-footer-text>input {
  width: 100%;
height: 48px;
}
.contact-inner-container{
  width:100%;
  /* margin: 0px 3em 0px 3em ; */
}

}